.Presentation.ice {
  background-image: url("../img/fond_fleur.webp");
}

.pictureprofile.ice {
  height: 43vw;
  background: orange;
  aspect-ratio: 3 / 4;
}

.introduction.ice {
  color: orange;
}
.me-container.ice {
  width: 39vw;
  height: 43vw;
  top: 2vw;
  left: 14vw;
  border: orange 2px solid;
}

.PresentationText.ice {
  left: 19vw;
  top: 5vw;
}

.Salutation.ice {
  color: black;
  font-size: 7vw;
  top: -16vw;
}

.Name.ice {
  top: -4vw;
}

.hand.ice {
  background-color: bisque;
  left: 27vw;
  bottom: 10vw;
}

@media (min-width: 1440px) {
  .me-container.ice {
    top: 1.9em;
    left: 12.5em;
    width: 562px;
    height: 620px;
  }
.Name.ice {
    top: -35px;
}
  .hand.ice {
    width: 280px;
    left: 390px;
    bottom: 130px;
  }
  .PresentationText.ice {
    left: 262px;
    top: 75px;
  }
  .Salutation.ice {
    font-size: 100px;
    top: -200px;
  }
}
