.logo-header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background: #f7f8fb;
  width: 100%;
}

section.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}


.iceBerg:hover {
  display: inline-block;
  animation: glitch-shake 0.25s infinite, color-glitch 0.5s infinite;
  color:#1d5677;
}

.iceBerg:active {
  animation: glitch-shake 0.25s infinite, color-glitch 0.5s infinite;
 display: inline-block;
}


@keyframes glitch-shake {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-2px, 1px); }
  20% { transform: translate(2px, -1px); }
  30% { transform: translate(-3px, 2px); }
  40% { transform: translate(3px, -2px); }
  50% { transform: translate(-2px, 1px); }
  60% { transform: translate(2px, -1px); }
  70% { transform: translate(-3px, 2px); }
  80% { transform: translate(3px, -2px); }
  90% { transform: translate(-2px, 1px); }
  100% { transform: translate(0, 0); }
}

@keyframes color-glitch {
  0% { color: #fff; text-shadow: 0 0 0 yellow, 0 0 0 red; }
  50% { color: #1d5677; text-shadow: 2px 0 violet, -2px 0 blue; }
  100% { color: #fff; text-shadow: 0 0 0 green, 0 0 0 purple; }
}

li {
  list-style: none;
  font-size: 3vw;
  white-space: nowrap;
  border-bottom: solid 2px transparent;
}

li:active {
  border-bottom: solid 2px #1d5677;
}

li:hover {
  border-bottom: solid 2px #1d5677;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  margin: 15px;
}

h1 {
  font-size: 6vw;
  margin: 10px 10px;
}

@media (min-width: 1300px) {
  h1 {
    font-size: 75px;
  }
  li {
    font-size: 30px;
  }
  ul {
    align-items: center;
  }
  img.LinkedinLogo {
    width: 50px;
  }
}
