.container {
  color: black;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 0rem;
  position: relative;
}

.animation > div {
  display: flex;
  flex-direction: column;
  animation: text-slide 8s infinite ease-in-out;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.81rem;
}

.first {
  background-color: #20a7d8;
}
.second {
  background-color: #cd921e;
}
.third {
  background-color: #00C728;
}

@keyframes text-slide {
  0%,
  10% {
    transform: translateY(0);
  }
  20%,
  30% {
    transform: translateY(-100%);
  }
  40%,
  60% {
    transform: translateY(-200%);
  }
  70%,
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .animation {
    margin-left: 1rem;
  }
}

