.row {
  --s: 30vw;
  display: grid;
  grid: auto-flow var(--s) / repeat(2, var(--s));
  gap: 10px;
  place-items: center;
  transform: rotate(45deg);
}
.row > img {
  width: 141%;
  aspect-ratio: 1;
  object-fit: cover;
  filter: grayscale(80%);
  transform: scale(var(--_t, 1)) rotate(-45deg);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: 0.2s linear;
}
.row > img:hover {
  filter: grayscale(0);
  --_t: 1.15;
  z-index: 1;
}

Section.Dessin {
  display: grid;
  place-content: center;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 15vw;
}

@media (min-width: 768px) {
  .row {
    --s: 300px;
  }
  Section.Dessin {
    margin-bottom: 150px;
  }
}